@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-width: 100% !important;
}

.servicios .card{
    width: 300px;
    background: rgb(66, 173, 66);
    color: aliceblue;
}

.servicios .card-img-top{
    width: 299px;
    height: 170px;
}
a:hover{
	color: #000 !important;
	background-color: rgb(86, 163, 68);
}

/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('https://images.pexels.com/photos/109391/pexels-photo-109391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('https://images.pexels.com/photos/418831/pexels-photo-418831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('https://images.pexels.com/photos/434334/pexels-photo-434334.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h2{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 4em;
	font-weight: 520;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

.bg-dark{
	background-color: #1c2331 !important ;
  }

.tarjeta {
	position: relative;
	width: 300px;
	height: 500px;
}

.tarjeta div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	backface-visibility: hidden;
	transition: .6s ease-in-out;
}

.front1 {
	background-image: url(img-1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	border: #000 solid 5px;
	transform: perspective(500px) rotateY(0deg);
}
.front2 {
	background-image: url(img-2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	border: #000 solid 5px;
	transform: perspective(500px) rotateY(0deg);
}
.front3 {
	background-image: url(img-3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	border: #000 solid 5px;
	transform: perspective(500px) rotateY(0deg);
}
.front4 {
	background-image: url(img-4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	border: #000 solid 5px;
	transform: perspective(500px) rotateY(0deg);

}
.back {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background: linear-gradient(rgb(6, 107, 56) , rgba(0,0,0, 0.75));
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: perspective(500px) rotateY(180deg);
}
.texto{
	text-align: justify;
	width: 90%;
	color: #fff;
}
.title{
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	font-size: 17px;
	padding: 5px;
}
.title2{
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	font-size: 16px;
	width: 80%;
	padding: 5px;
}
.lista{
	list-style: none;
}
.icono img {
	width: 30px;
	height: 30px;
}
.tarjeta:hover .front1{
	transform: perspective(500px) rotateY(180deg);
}
.tarjeta:hover .front2{
	transform: perspective(500px) rotateY(180deg);
}
.tarjeta:hover .front3{
	transform: perspective(500px) rotateY(180deg);
}
.tarjeta:hover .front4{
	transform: perspective(500px) rotateY(180deg);
}
.tarjeta:hover .back{
	transform: perspective(500px) rotateY(360deg);
}